/* 在移动设备上隐藏侧边栏 */
+tablet-mobile() {
  .sidebar-toggle, .sidebar {
    display: none;
  }
}

/* 在存档页面中隐藏"继续发帖" */
.archive .collection-title {
  display: none !important;
}

/* 添加背景图片 */
body {
      background: url(/images/background.jpg
      );//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

/* 首页banner渐变色 */
.site-brand-container {
    background: linear-gradient(200deg, #f58220, #f58220 );
}

/* 修改主体透明度 */
.main-inner{
    background: #fff;
    opacity: 0.85;
}

/* 修改菜单栏透明度，会引起本地搜索菜单bug */
/* .header-inner {
    opacity: 0.95;
} */

/* 主页文章添加阴影效果 */
//.post {
//   margin-top: 60px;
//   margin-bottom: 60px;
//   padding: 25px;
//   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//}

.post-block{
        background-color: rgba(255, 255, 255, 1);
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 20px;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}
